$white: #FFF;
$gray: #F1F2F8;
$black: #202020;
$font-gray: #686D8B;
$purple: #6C00FF;
$yellow: #F4BC14;
$orange: #FF7A49;

body {
    color: $black;
}

.template-container {
    display: flex;
    background-color: $gray;
    .sidebar {
        background-color: $white;
        width: 20%;
        flex-shrink: 0;
        height: 100vh;
        .logo {
            text-align: center;
            font-size: 1.5rem;
            margin: 80px 0;
        }
        nav {
            .nav-ul {
                .nav-item {
                    margin: 0 0 40px 30px;
                    display: flex;
                    color: $font-gray;
                    font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
                    i {
                        text-align: left;
                        width: 15%;
                        margin-right: 8px;
                    }
                    a {
                        text-align: left;
                        flex-grow: 1;
                    }
                    &:hover {
                        color: $purple;
                        transition: 0.3s;
                    }
                }
                .active {
                    color: $purple;
                }
            }
        }
    }
    .main-container {
        margin: 3%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        .title {
            color: $font-gray;
            font-weight: bold;
            font-size: clamp(2rem, 1.636rem + 1.82vw, 3rem);
            margin-bottom: 20px;
        }
        .versatility-box {
            color: $font-gray;
            background-color: $white;
            padding: 20px;
            border-radius: 10px;
            .versatility-title {
                font-size: clamp(1.25rem, 0.977rem + 1.36vw, 2rem);
                font-weight: bolder;
                margin-bottom: 20px;
            }
            .versatility-sub-box {
                margin: 3%;
                .versatility-sub-title {
                    font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
                    font-weight: bolder;
                }
                .versatility-sub-text {
                    border-bottom: 3px solid $font-gray;
                    p {
                        word-break: break-all;
                        min-height: 1rem;
                    }
                }
                .versatility-sub-input {
                    width: 100%;
                }
            }
            p {
                font-weight: bold;
                font-size: clamp(0.75rem, 0.568rem + 0.91vw, 1.25rem);
            }
        }
        .flex-hub {
            flex: 1 1 250px;
            max-width: 400px;
        }
        .flex-curtain{
            flex: 1 1 250px;
            max-width: 300px;
        }
    }
}

// 色設定
.purple {
    color: $purple;
}
.orange {
    color: $orange;
}
.yellow {
    color: $yellow;
}

// 汎用スタイル
.bold-font {
    font-weight: bold;
}

.margin-left-middle {
    margin-left: 20px;
}

.margin-bottom-middle {
    margin-bottom: 20px;
}

.center-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.flex-box {
    display: flex;
}

.space-between {
    justify-content: space-between;
    gap: 15px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.fill-remaining {
    flex-grow: 1;
}

// 汎用パーツ
.pie-chart-box {
    .pie-chart-wrapper {
        width: 100%;
        aspect-ratio: 1 / 1;
        max-width: 100px;
        .pie-chart {
            width: 100%;
            height: 100%;
            display: block;
            .bg {
                stroke: $gray;
                stroke-width: 10;
                fill: none;
            }
            .value {
                stroke-width: 10;
                fill: none;
                stroke-linecap: round;
                transition: stroke-dashoffset 0.5s;
            }
            text {
                font-size: 1.25rem;
                font-weight: bold;
                text-anchor: middle;
                dominant-baseline: middle;
                user-select: none;
                pointer-events: none;
            }
            .stroke-purple {
                stroke: $purple;
            }
            .fill-purple {
                fill: $purple;
            }
            .stroke-yellow {
                stroke: $yellow;
            }
            .fill-yellow {
                fill: $yellow;
            }
            .stroke-orange {
                stroke: $orange;
            }
            .fill-orange {
                fill: $orange;
            }
        }
    }
    .pie-chart-title {
        text-align: center;
        font-size: 1.25rem;
        font-weight: bold;
        margin-top: 10px;
    }
}

.navigate-setting {
    color: $font-gray;
    font-size: clamp(1.25rem, 1.159rem + 0.45vw, 1.5rem);
    font-weight: bold;
    padding: 20px;
    background-color: $white;
    border-radius: 9999px;
    transition: 0.3s;
    &:hover {
        color: $white;
        background-color: $font-gray;
    }
}