$white: #FFF;
$gray: #F1F2F8;
$black: #202020;
$font-gray: #686D8B;
$purple: #6C00FF;
$yellow: #F4BC14;
$orange: #FF7A49;
$overlay: rgba(0, 0, 0, 0.4);

body {
    color: $black;
}

.template-container {
    display: flex;
    background-color: $gray;
    height: 100vh;
    .sidebar {
        background-color: $white;
        width: 20%;
        flex-shrink: 0;
        .sidebar-logo-box {
            margin: 80px 5%;
            .sidebar-logo {
                margin: 0 auto;
                max-width: 300px;
                img {
                    object-fit: fill;
                }
            }
        }
        nav {
            .nav-ul {
                .nav-item {
                    margin: 0 0 40px 30px;
                    display: flex;
                    color: $font-gray;
                    font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
                    i {
                        text-align: left;
                        width: 15%;
                        margin-right: 8px;
                    }
                    a {
                        text-align: left;
                        flex-grow: 1;
                    }
                    &:hover {
                        color: $purple;
                        transition: 0.3s;
                    }
                }
                .active {
                    color: $purple;
                }
            }
        }
    }
    .main-container {
        margin: 3%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        .title {
            color: $font-gray;
            font-weight: bold;
            font-size: clamp(2rem, 1.636rem + 1.82vw, 3rem);
            margin-bottom: 20px;
        }
        .versatility-box {
            color: $font-gray;
            background-color: $white;
            padding: 20px;
            border-radius: 10px;
            .versatility-title {
                font-size: clamp(1.25rem, 0.977rem + 1.36vw, 2rem);
                font-weight: bolder;
                margin-bottom: 20px;
            }
            .versatility-sub-box {
                margin: 3%;
                .versatility-sub-title {
                    font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);
                    font-weight: bolder;
                }
                .versatility-sub-text {
                    border-bottom: 3px solid $font-gray;
                    p {
                        word-break: break-all;
                        min-height: 1rem;
                    }
                }
                .versatility-sub-input {
                    width: 100%;
                }
            }
            p {
                font-weight: bold;
                font-size: clamp(0.75rem, 0.568rem + 0.91vw, 1.25rem);
            }
        }
    }
}

// 色設定
.purple {
    color: $purple;
}
.orange {
    color: $orange;
}
.yellow {
    color: $yellow;
}

// 汎用スタイル
.bold-font {
    font-weight: bold;
}

.margin-left-middle {
    margin-left: 20px;
}

.margin-bottom-middle {
    margin-bottom: 20px;
}

.center-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.flex-box {
    display: flex;
}

.space-between {
    justify-content: space-between;
    gap: 15px;
}

.fill-remaining {
    flex-grow: 1;
}

// 汎用パーツ
.pie-chart-box {
    .pie-chart-wrapper {
        width: 100%;
        aspect-ratio: 1 / 1;
        max-width: 100px;
        .pie-chart {
            width: 100%;
            height: 100%;
            display: block;
            .bg {
                stroke: $gray;
                stroke-width: 10;
                fill: none;
            }
            .value {
                stroke-width: 10;
                fill: none;
                stroke-linecap: round;
                transition: stroke-dashoffset 0.5s;
            }
            text {
                font-size: 1.25rem;
                font-weight: bold;
                text-anchor: middle;
                dominant-baseline: middle;
                user-select: none;
                pointer-events: none;
            }
            .stroke-purple {
                stroke: $purple;
            }
            .fill-purple {
                fill: $purple;
            }
            .stroke-yellow {
                stroke: $yellow;
            }
            .fill-yellow {
                fill: $yellow;
            }
            .stroke-orange {
                stroke: $orange;
            }
            .fill-orange {
                fill: $orange;
            }
        }
    }
    .pie-chart-title {
        text-align: center;
        font-size: 1.25rem;
        font-weight: bold;
        margin-top: 10px;
    }
}

// 新規作成ボタン
.navigate-setting {
    color: $font-gray;
    font-size: clamp(1.25rem, 1.159rem + 0.45vw, 1.5rem);
    font-weight: bold;
    padding: 20px;
    background-color: $white;
    border-radius: 9999px;
    transition: 0.3s;
    &:hover {
        color: $white;
        background-color: $font-gray;
    }
}

// PCレイアウト
@media (min-width: 769px) {
    .sidebar {
        display: block;
    }
    .hamburger-menu {
        display: none;
    }
    .content-container {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }
    .flex-hub {
        flex: 1 1 250px;
        max-width: 400px;
    }
    .flex-curtain{
        flex: 1 1 250px;
        max-width: 300px;
    }
}

// スマホレイアウト
@media (max-width: 768px) {
    .sidebar {
        display: none;
    }
    .hamburger-menu {
        display: flex;
        background-color: $white;
        position: relative;
        height: 6vh;
        .hamburger-icon {
            margin: 5px auto;
            img {
                max-height: 100%;
            }
        }
        .hamburger-button {
            height: 100%;
            font-size: 2rem;
        }
    }
    .template-container {
        flex-direction: column;
        .main-container {
            display: flex;
        }
    }
    .content-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
        .flex-hub {
            max-width: 100%;
        }
        .flex-curtain{
            max-width: 100%;
        }
    }
}

// ハンバーガーメニュー押下で表示するメニュー
.slide-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: $white;
    color: $font-gray;
    transform: translateY(-100%);
    transition: transform 0.4s cubic-bezier(.4,0,.2,1);
    z-index: 9999;
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
    &.open {
        transform: translateY(0);
    }
    ul {
        list-style: none;
        margin: 0;
        text-align: center;
        li {
            transition: 0.2s;
            a {
                display: block;
                padding: 16px 0;
                text-decoration: none;
                font-size: 1.2rem;
            }
            &:hover {
                background-color: $purple;
                color: $white;
            }
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $overlay;
    z-index: 9998;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    &.active {
        opacity: 1;
        pointer-events: auto;
    }
}